@tailwind base;
@tailwind components;
@tailwind utilities;












#categories-list{
    display: flex;
    flex-direction: row;
    gap: 1rem;

}
#categories-list .category {
   padding: 0.5rem 1rem;
   border-radius: 10px;
   background-color: #282828;   
}
.video-card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}




